REACT_APP_PROD=no

# make sure ports match ports in docker compose
REACT_APP_AUTH_REDIRECT=http://localhost:5002/login

# leave below as an empty string if using `npm start` instead of docker
REACT_APP_BACKEND_URL=http://localhost:5000

# .env for docker compose
restart=no
production=no
Port=5000
AdminerPort=5001
AdminFrontendPort=5002
DBhost=gtt-mariadb
DBuser=root
DBpass=1234
DBdb=gtt
root_url=http://127.0.0.1:5000
client_id=
client_secret=
api_endpoint=https://discord.com/api
state_ttl=300
token_ttl=900
userid_claim=http://127.0.0.1:5000/discord/id
