html {
  padding-top: calc(1em + 3vh);
  padding-left: calc(1em + 5vw);
  padding-right: calc(1em + 5vw);
}

@font-face {
  font-family: "Montserrat ExtraBold";
  src:
    url("../public/Montserrat-ExtraBold.ttf") format("truetype");
}

a {
  width: fit-content;
}

@mixin verticalFlex() {
  display: flex;
  flex-direction: column;
}

.LinkList {
  @include verticalFlex;

  * {
    margin: 0.1em;
    margin-left: 0.5em;
  }
}
